@{
    ViewData["Title"] = "About";
}
<div class="container-fluid">
   
    @*<div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <div class="badge">
                    <h2>How did Sales Order Assistant come to be?</h2>
                </div>
            </div>
        </div>
        
    </div>*@
   
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h2>How did Sales Order Assistant come to be?</h2>
                </div>
                
            </div>

            <div class="panel-body">
                               
                    <div class="row">
                        
                        <div class="col-lg-12">

                            <p>
                                Previously I worked as an order processor at a company that sold board level electronic components to manufacturers. This company received purchase orders by their customers through email. The purchase order would then be forwarded to me where I looked at the order and entered the information in the database. The purchase orders were not standardized, each customer would send their own purchase order forms that they themselves created. However, the company I worked for required certain information to be included in the purchase order and critical information in the customer purchase orders were often wrong or missing. If this was the case I would then have to email the sales representatives I worked with letting them know what information I needed from the customer. They would then contact the customer, get the necessary information and forward it to me, often the information was still not correct and I would have to spend a lot of time rechecking and going back and forth with sales representatives.  While working at the order-processor position I thought of an idea for a program that would drastically simplify the order taking process of this particular company.
                            </p>

                            <p>
                                Sales Order Assistant simplifies the ordering process for your customers and will greatly improve your company’s organization. Sales Order Assistant is different because it not only provides a customizable web based database system but also provides an online portal where the customer can place an order.
                                Sales Order Assistant eliminates tedious data entry often encountered in companies that broker obsolete and hard to find electronic parts by providing a customer portal where the customer can log in to an account created for them and can send their purchase orders through a form within this portal instead of through email. The information from the form is then automatically populated into a customized database system.
                            </p>
                        </div>

                    </div>







              

            </div>



        </div>
    </div>

   

</div>




