@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="jumbotron row">
    <div class="row">
        <div class="col-md-6">
            <p class="text-center">
                <span class="glyphicon glyphicon-envelope"><strong> danielbrogers594@gmail.com</strong></span>
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-center">
                <span class="glyphicon glyphicon-phone"><strong> 561-254-9103</strong></span>
            </p>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-3">
        <a href="https://www.facebook.com/Blaise594" class="thumbnail">
            <img src="~/images/facebookbutton.png" />
            <div class="caption text-center">
                <h1 class="btn btn-default" href="https://www.facebook.com/Blaise594">
                    View Profile
                </h1>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="https://twitter.com/danbrogers" class="thumbnail">
            <img src="~/images/twitter_button.png" />
            <div class="caption text-center">
                <h1 class="btn btn-default" href="https://twitter.com/danbrogers">
                    View Profile
                </h1>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="https://www.linkedin.com/in/daniel-rogers-2a334111a/" class="thumbnail">
            <img src="~/images/linkedinbutton.png" />
            <div class="caption text-center">
                <h1 class="btn btn-default" href="https://www.linkedin.com/in/daniel-rogers-2a334111a/">
                    View Profile
                </h1>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a href="https://github.com/blaise594" class="thumbnail">
            <img src="~/images/githubbutton.png" />
            <div class="caption text-center">
                <h1 class="btn btn-default" href="https://github.com/blaise594">
                    View Profile
                </h1>
            </div>
        </a>
    </div>
</div>
