@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sales Order Assistant</h1>
    <p class="lead">Sales Order Assistant is a highly customizable and easy to use order processing and distribution software for bussinesses offering products or services at a negotiable rate that varies from instance to instance.</p>
    <p><a href="~/Views/Home/About.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What makes Sales Order Assistant different?</h2>
        <p>
            Sales Order Assistant simplifies the ordering process for your customers and will greatly improve your company’s organization. Sales Order Assistant is different because it not only provides a customizable web based database system but also provides an online portal where the customer can place an order.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>How can Sales Order Assistant be used in the electronic component industry?</h2>
        <p>Sales Order Assistant eliminates tedious data entry often encountered in companies that broker obsolete and hard to find electronic parts by providing a customer portal where the customer can log in to an account created for them and can send their purchase orders through a form within this portal instead of through email. The information from the form is then automatically populated into a customized database system.</p>
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Learn more &raquo;</a></p>
    </div>
</div>
