<div class="container-fluid btn btn-default btn-block">

    <div class="row">
        <div class="col-lg-3">
            <a asp-area="" asp-controller="RFQ" asp-action="Create" class="btn btn-default btn-block">
                <h4 class="media-heading"><strong>Request A Quote</strong></h4>
            </a>
        </div>

        <div class="col-lg-3">
            <a asp-area="" asp-controller="Quote" asp-action="Index" class="btn btn-default btn-block">
                <h4 class="media-heading"><strong>View Quotes</strong></h4>
            </a>
        </div>

        <div class="col-lg-3">
            <a asp-area="" asp-controller="Quote" asp-action="Index" class="btn btn-default btn-block">
                <h4 class="media-heading"><strong>Place Order</strong></h4>
            </a>
        </div>

        <div class="col-lg-3">
            <a asp-area="" asp-controller="Order" asp-action="Index" class="btn btn-default btn-block">
                <h4 class="media-heading"><strong>View Order Status</strong></h4>
            </a>
        </div>        
    </div>
</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
